
#titulo {
position: relative;
text-align: center;
height: 100vh;
background-color: rgba(151,174,136,0.58);
color: white;
}

#about_title{
    position: relative;
    margin: 0;
    color:black;
    padding: 300px 0 50px 0;
    font-size: 100px;
}


#texto_principal {
    position: relative;
    color: white;
    font-family: arial;
    margin: 5%;
    word-spacing: 1%;
}

p {
    color: #fff;
    font-family: arial;
    font-size: 30px;
    padding: 5% 5% 0 5%;
    word-spacing: 1%;
}

.row {
    margin: 5% 0 0 0;
    background: rgba(0, 0, 0, 0.5);
}

.img_caja1 {
    position: relative;
    width: 100%;
    color: white;
}

.img_caja2 {
    position: relative;
    width: 100%;
    color: white;
}
