/*Eliminando los margines y outline*/
* {
    outline: none;
    margin: 0;
}

/*Posición del div principal*/
.Contenedor {
    top: 40%;
    left: 50%;
    transform: translateX(50%) translateY(35%);

    width: 50%;
    height: 55%;
}

/*Estilo de h1 y p*/
.Contenedor h1, p {
    margin: 1% 0% 0%;
    padding: 0 1%;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

/*Posición de h1*/
.Contenedor h1 {
    margin: 0;
    padding-top: 1%;
}

/*Posición de p*/
.Contenedor p {
    margin-bottom: 3%;
}

form {
    padding: 1% 5%;
}

/*Estilo de input y textarea*/
.Contenedor input, .Contenedor textarea {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    color: #fff;
}

.Contenedor form div {
  position: relative;
}

form div label {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s;
    pointer-events: none;
    color: #bdbdbd;
}

form div.button {
    margin: 2% 0 0 1%;
    text-align: center;
}

form button {
    width: 30%;
    padding: 2% 3%;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

form button:hover {
    color: #fff;
}


.Contenedor input:focus ~ label, .Contenedor textarea:focus ~ label,
.Contenedor input:valid ~ label, .Contenedor textarea:valid ~ label {
    top: -20px;
    color:#fff;
}

/*Cuando la pantalla sea menor que 750px, pues cambio las medidas de posiciones de formulario*/
@media screen and (max-width: 750px){
    .Contenedor{
        top: 40%;
        left: 50%;
        transform: translateX(24%) translateY(25%);

        width: 70%;
        height: 55%;
        border-radius: 5px;
    }

    form button {
        font-size: 10px;
    }
}
