*{
  margin: 0;
}

.containerLogin a {
  font-size: 40px;
  text-transform: uppercase;
}

.cloud, .stream {
  transition: all 0.4s !important;
  float: left;
  width: 75%;
  margin: 25px 12%;
  height: 200px;
  text-align: center;
  padding: 57px;
  border-radius: 10px;
  border: 1px solid white;
}

div.cloud, div.stream {
  -webkit-transition: width 3s;
  transition: width 3s;
}

div.cloud:hover, div.stream:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div.cloud a, div.stream a {
  transition: all .5s;
  color: #fff;
}


div.cloud:hover a, div.stream:hover a {
  font-size: 50px;
  text-decoration: none;
}


.cloud:hover {
  opacity: 0.8;
  background-color: #e21111;
}

.stream:hover {
  opacity: 0.8;
  background-color: #0000ff;
}

.containerLogin {
  height: 500px;
  margin: 5% 0 ;
  width: 70%;
  margin: 5% auto !important;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .containerLogin{
    width: 100%;
  }

  .containerLogin a {
    font-size: 20px;
  }

  div.cloud:hover a, div.stream:hover a {
    font-size: 20px;
    text-decoration: none;
  }

  .cloud, .stream {
    padding: 80px;
  }
}